{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>

    <style>
        body{
            background-color: coral;
            display: flex;
        }

    </style>
</head>
<body>
        <a style="height: 40px;width: 180px;margin: 20px" href="{% url 'Catalog' %}" class="btn btn-info">To DRF catalog</a>
        <form method="post" id="form-wrapper" >
        <div  class="card" style="width: 18rem; position:relative;margin: 20px">
           <img style="height: 250px; width: 18rem" src="static\1200px-Plus_symbol.svg (1).png" class="card-img-top" alt="...">
            <input id="Picture" name="Picture" type="file" accept="image/jpeg, image/png, image/jpg">
          <div class="card-body">
              <div>
                  <div style="width: 250px;margin: 5px" class="form-group">
                    <input type="text" class="form-control" id="ProductName" name="ProductName" placeholder="Input name of your product">
                  </div>
                  <div style="width: 200px;margin: 5px" class="form-group">
                    <input type="text" class="form-control" id="Author" name="Author" placeholder="author name">
                  </div>
                  <div style="width: 200px;margin: 5px" class="form-group">
                      <input type="number" class="form-control" name="Price" id="Price" placeholder="Price">
                  </div>
                      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
             </div>
          </div>
        </div>
       </form>
        <div style="display: flex;flex-wrap: wrap" id="list-wrapper">
        </div>
</div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <script>



        function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');




        buildList()

        function buildList(){
            var wrapper = document.getElementById('list-wrapper')
            wrapper.innerHTML = ""
            var url = 'http://127.0.0.1:8000/catalog/'

            fetch(url)
            .then((resp)=>resp.json())
            .then(function (data){
                console.log("Data:",data)

                var product_list = data
                for (var i in product_list){
                    var item = `
                         <div class="card" id="product_in_card_style-${i}" style="width: 18rem;margin: 20px;">
                            <img style="height: 292px" src="${product_list[i].picture}" class="card-img-top" alt="Prouct_image">
                            <div class="card-body">
                              <h5 class="card-title">${product_list[i].name}</h5>
                              <p class="card-text">Author:${product_list[i].author}<br> Created at: ${product_list[i].date_of_creation}</p>
                                <button class="btn btn-danger delete">Delete</button>
                              <button style="margin-left: 100px" type="button" class="btn btn-primary">${product_list[i].price}$</button>
                            </div>
                        </div>
                         `
                    wrapper.innerHTML += item

                }
                for (var i in product_list){
                    var deleteBtn = document.getElementsByClassName('delete')[i]
                    deleteBtn.addEventListener('click',(function(item){
                        return function(){
                            deleteItem(item)
                        }
                    })(product_list[i]))
                }
            })
        }

        var form = document.getElementById('form-wrapper')
		form.addEventListener('submit', function(e){
            e.preventDefault()
			console.log('Form submitted')
			var url = 'http://127.0.0.1:8000/catalog/'
            var name = document.getElementById("ProductName").value
            var price = document.getElementById("Price").value
            var picture = document.getElementById("Picture").files[0]["name"]
            {#console.log(picture)#}
            var author = document.getElementById("Author").value
            var date = Date().toLocaleString()
            fetch(url,{
            method:"POST",
            headers:{
                "Content-Type":"application/json",
                "X-CSRFToken":csrftoken,
            },
            body:JSON.stringify({"name":name,
                "price":price,
                "picture":"http://127.0.0.1:8000/media/product/" + picture,
                "author":author,
                "date":date,
            })
        }).then(function(response){
            buildList()
            document.getElementById('form-wrapper').reset()
        })
       })
        function deleteItem(item){
            console.log('delete clicked',item)
            fetch(`http://127.0.0.1:8000/catalog/${item.id}`,{
                method:"DELETE",
                headers:{
                    "Content-Type":"application/json",
                    "X-CSRFToken":csrftoken,
                }
            }).then((response)=>{
                buildList()
                })
        }

    </script>
</body>
</html>